@import "variables.less";
@import "style.less";
@import "custom-rangebar.less";
@import "jquery.mCustomScrollbar.less";

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


*:focus {
	outline: none;
}

a,
a:hover {
	text-decoration: none;
}

.placeholder(@grey, 14px, @brand-font, 400);

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}