body {
	margin: 0;
	font-family: @brand-font;
	font-weight: 400;
}

.right-content,
.left-content {
	float: left;
}

.left-content {
	width: 75%;
}

.right-content {
	width: 400px;
	height: 100%;
	background: white;
	border-left: 1px solid white;
    box-sizing: border-box;
    overflow-y: auto;

    h1 {
		position: relative;
		font-family: @secondary-font;
		font-weight: 400;
		font-size: 28px;
		line-height: 34px;
		color: white;
		margin: 0 0 30px;
	    padding: 0 0 0 50px;
	    &:before {
			content: '';
			width: 30px;
		    height: 30px;
		    position: absolute;
		    left: 0;
		    top: 0;
		    background-repeat: no-repeat;
		}
		&.logo {
			&:before {
				background-image: url(images/logo.png);
			}
		}
		&.search {
			&:before {
				background-image: url(images/results.png);
			}
		}
		&.red {
			margin-bottom: 20px;
			color: @red;
		}
	}

	h3 {
		font-family: @brand-font;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: white;
		text-transform: uppercase;
		margin: 0 0 10px;
		#help {
			cursor: pointer;
			background: url(images/help.png);
			width: 15px;
		    height: 15px;
		    display: inline-block;
		    margin-left: 10px;
		    position: relative;
		    top: 2px;
		}
	}

    .action-buttons {
    	background: @red;
    	padding: 40px 20px 30px;
    }

	.right-content-inner-wrapper {
		position: relative;
		
		#range {
			position: relative;
		    top: 0px;
		    color: white;
		    font-size: 14px;
		    line-height: 20px;
		    float: right;
		}

		form {
			position: relative;
			margin-bottom: 30px;
			#clear-food-items {
				position: absolute;
				top: 0;
				color: @red;
				right: 41px;
				font-size: 12px;
				line-height: 18px;
				text-transform: uppercase;
				width: 60px;
				height: 41px;
				padding: 11px 10px;
				text-align: center;
				box-sizing: border-box;
			}
			input[type=text] {
				font-family: @brand-font;
				font-weight: 400;
				font-size: 14px;
				padding: 12px 45px 12px 15px;
			    border: 0;
			    width: 100%;
			    border-radius: 5px;
			    color: @grey;
			    &#food-item {
			    	padding: 12px 100px 12px 15px;
			    }
			}
			button {
				position: absolute;
			    right: 0;
			    top: 0;
			    height: 41px;
			    width: 41px;
			    border: 0;
			    background-repeat: no-repeat;
			    background-position: center center;
			    background-color: white;
			    cursor: pointer;
			    text-indent: -999px;
			    &:before {
			    	content: '';
			    	position: absolute;
				    left: 0;
				    width: 1px;
				    height: 31px;
				    top: 5px;
			    	background: @light-grey;
			    }
			    &#search-your-places {
			    	background-image: url(images/search.png);
			    }
			    &#search-your-food {
			    	background-image: url(images/enter.png);
			    }
			}
		}

		#reset {
			position: absolute;
		    top: 0;
		    right: 0;
		    color: white;
		    font-size: 12px;
		    line-height: 18px;
		    text-transform: uppercase;
		    border-bottom: 1px solid white;
		}
	}

	#search-result {
		padding: 20px 0;
		.title-wrapper {
			padding: 20px 20px 0;
		}
	}
}

.food-truck-info {
	padding: 20px;
	h2 {
		font-family: @secondary-font;
		font-weight: 400;
		color: #2a2a2a;
	    font-size: 18px;
	    line-height: 24px;
	    margin: 0;
		padding: 0 0 20px;
    }
	&.active {
		background: #eaeaea;
	}
    p {
    	font-family: @brand-font;
		font-weight: 400;
    	margin: 0 0 5px;
    	span {
    		margin-right: 5px;
		    color: @grey;
    	}
    }
}

body .mCSB_inside > .mCSB_container {
	margin-right: 0;
}